.cm-keyword-special {
    color: #d73a49;
    font-weight: bold;
}

.cm-variable {
    color: #6f42c1;
}

.cm-string {
    color: #032f62;
}

.cm-function {
    color: #005cc5;
    font-style: italic;
}

.cm-keyword {
    color: #22863a;
    font-weight: bold;
}
.CodeMirror  {
 height: 80vh;
}
.editorWrap { height: 100%; width:100%}   /* ton conteneur */
